.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.header__navigation {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  a,
  .link {
    cursor: pointer;
    padding: 0 15px;

    &:hover {
      color: red;
    }
  }
}
